trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self

  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 8.0.x

  - script: dotnet restore
    displayName: "Restore"

  - script: dotnet build -c Release
    displayName: "Build"

  - script: dotnet test -c Release --collect:"XPlat Code Coverage"
    displayName: "Test"
