apiVersion: v1
kind: Service
metadata:
  name: servicename-api
  labels:
    app: servicename
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: servicename
    component: api
